@model SuperStore.ViewModel.SaleViewModel

@{
    ViewBag.Title = "AddProduct";
}

<link href="~/Content/bower_components/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/bower_components/toastr/toastr.min.js"></script>
<script src="~/Scripts/App/Service/SaleService.js"></script>
<script src="~/Scripts/App/Controller/SaleController.js"></script>
<style>
    .addCreateGrid {
        background: rgba(0, 0, 0, 0) url("../../Images/details_open.png") no-repeat scroll 0 0;
        cursor: pointer;
        float: left;
        height: 20px;
        margin-top: 4px;
        width: 20px;
    }

    .removeCreateGrid {
        background: url("../../Images/details_close.png") no-repeat;
        cursor: pointer;
        float: left;
        height: 20px;
        margin-top: 4px;
        width: 20px;
    }

    .gridInside {
        margin-bottom: 20px;
    }
</style>

<br />
<h4 class="charts-main-title">
    <a href="/Sale/Index">My Dashboard</a>
    <span class="fa fa-arrow-right"></span>
    <span class="breadcrumb-item"><a href="/Purchse/Index">Sale Products</a></span>
    <span class="fa fa-arrow-right"></span>
    <span class="breadcrumb-item">Sales Detail</span>
</h4>

<div class="form-horizontal">
    <div class="creat-ticket-inner">
        @using (Html.BeginForm())
            {
            <div class="col-md-3 col-sm-12 col-xs-12">
                <label>Select Customer</label>
                @Html.DropDownList("CustomerId", new SelectList(Model.listCustomer, "CustomerId", "Name"), new { @class = "form-control" })
            </div>
            <div class="clearfix"></div>
            <br />
            <div id="ParentContainer">
                <div class="row" style="background-color:limegreen;padding:10px;">
                    <div class="col-md-12 no-padding divGrid">
                        <div class="col-md-3" style="text-align:center;">
                            <label>Product</label>
                        </div>
                        <div class="col-md-2" style="text-align:center;">
                            <label>Unit</label>
                        </div>
                        <div class="col-md-2" style="text-align:center;">
                            <label>Price</label>
                        </div>
                        <div class="col-md-2" style="text-align:center;">
                            <label>Quantity</label>
                        </div>
                        <div class="col-md-2" style="text-align:center;">
                            <label>Sub Total</label>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="row divgrid" id="">
                    <div class="col-md-12 no-padding gridInside">

                        <div class="col-md-3 col-sm-12 col-xs-12">
                            @Html.DropDownList("ProductId", new SelectList(Model.listProduct, "ProductId", "Name"), new { @class = "form-control" })
                        </div>

                        <div class="col-md-2 col-sm-12 col-xs-12">
                            @Html.DropDownList("UnitId", new SelectList(Model.listUnit.OrderBy(x => x.UnitId), "UnitId", "Name"), new { @class = "form-control Unit" })
                        </div>

                        @*<div class="col-md-2 col-sm-12 col-xs-12">
                               @Html.TextBox("CostPrice", null, new { @id = "CostPrice", @class = "form-control CostPrice", @placeholder = "Enter Cost Price" })
                            </div>*@
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            @Html.TextBoxFor(x => x.Price, new { @Value = "", @id = "Price", @class = "form-control Price", @placeholder = "Enter Sale Price", onkeyup = "showCalculte()" })
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            @Html.TextBoxFor(x => x.Quantity, new { @Value = "", @id = "Quantity", @class = "form-control Quantity", @placeholder = "Quantity", onkeyup = "showCalculte()" })
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <input type="text" class="form-control Subtotal" id="Subtotal" placeholder="Sub Total" readonly="readonly">
                        </div>

                        <div class="col-md-1 col-sm-12 col-xs-12">
                            @*<img class="col-md-2 col-sm-2 col-xs-12 no-padding addCreateGrid" alt=""
                                title="Add More" onclick="PurchasedController.PurchasePro();">*@

                            <input type="button" class="col-md-2 col-sm-2 col-xs-12 no-padding addCreateGrid"
                                   title="Add More" onclick="SaleController.SaleProduct();">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="loadPurchaseTable"></div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $.get("/Sale/CreateNewSale_Post", "", function (data) {
            debugger;
            $('#loadPurchaseTable').html("");
            $('#loadPurchaseTable').html(data);
        });
    });
    function showCalculte() {
        debugger;
        $('#Subtotal').val($('#Price').val() * $('#Quantity').val());
    }
</script>
